<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataPointTestCaseJsonFilePath" value="D:\Git\atlasqasolution\src\resources\TestCases\Json\"/>
    <add key="DataPointTestCaseJavaFilePath" value="D:\Git\atlasqasolution\src\main\java\Models\"/>
  </appSettings>
</configuration>