<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataPointTestCaseJsonFilePath" value="D:\Git\atlas-aws-qa\atlas-aws-testing\src\testcases\DataPointCalc\json\Categories\StockValuationRatio\PE\"/>
    <add key="DataPointTestCaseJavaFilePath" value="D:\Git\atlas-aws-qa\atlas-aws-testing\src\main\java\Models\"/>
  </appSettings>
</configuration>